<div align="center">
  <img src="https://assets.gitlab-static.net/uploads/-/system/group/avatar/3174248/logo_clean.png" alt="OpenPatch Logo" width="50" />
  <img src="{{ logo }}" alt="Project Logo" width="50" />
</div>

<div align="center">
<h1>{{ name }}</h1>
</div>

<div align="center">
  {{ description }}
</div>

![-----------------------------------------------------](https://raw.githubusercontent.com/andreasbm/readme/master/assets/lines/aqua.png)

<div align="center">
  {% for badge in badges %}<a href="{{ badge.url }}"><img alt="{{ badge.alt }}" src="{{ badge.img }}" height="20"/></a>{% endfor %}
</div>

{% for markdown in content %}
{{ markdown }}
{% endfor %}

## Contributors

{% for contributor in contributors %}| [<img alt="{{ contributor.name }}" src="{{ contributor.img }}" width="100">]({{ contributor.url }}){% endfor %}|
{% for contributor in contributors %}|:---:{% endfor %}|
{% for contributor in contributors %}| [{{ contributor.name }}]({{ contributor.url }}){% endfor %}|

## License

Licensed unter [{{ license }}](LICENSE)
